$corheader:orange;
$corNav:#000;
$corMain:#fff;
$corFooter:#000;
$corCards:#d3d3d3;
$corPreco:limegreen;
$corbotao:linear-gradient(-45deg,#23a6d5,#23d5ab);
$corbotaohover: linear-gradient(-45deg,#ee7252,#e73c7e,#23a6d5,#23d5ab) no-repeat;