*{
    box-sizing: border-box;
}
body,html{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d3d3d3;
}
body{
    width: 100%;
}
.container{
    display: flex;
    width: 1200px;
    margin: auto;
    justify-content: space-between;
}

/* HEADER ----------------------------------- */

header{
    width: 100%;
    display: flex;
    background-color: orange;
}
header .main-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap ;
}
header .headeritens{
    display: flex;
    text-transform: uppercase;
    align-items: center;
    gap: 20px;
}

header .headeritens .inputgroup{
    background-color: white;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
header .inputgroup i{
    width: 25px;
    position: absolute;
    right: 0;
}
header .inputgroup input{
    outline:none;
    height: 100%;
}
/* NavHeader -------------------------------------------- */
nav{
    background-color: black;
    display: flex;
}
nav .main-nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
}
nav .main-nav .navcontent{
    display: flex;
    color: white;
    align-items: center;
    text-transform: uppercase;
    gap: 10px;
}


/* main-------------------------------------------- */

main{
    width: 75%;
    background-color: white;
}
main .maincontent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
    margin: 20px;
}
main .cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #d3d3d3;
}
main .cards:hover{
    background-color: #d3d3d3;
    transition: 5s;
}
main .cards .CardButton{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 20px 0px;
    margin-bottom:10px;
    width: 90%;
    border-radius: 10px;
background: linear-gradient(-45deg,#23a6d5,#23d5ab);
}
main .cards:hover .CardButton{
    animation: BotaoCard 5s ease infinite;
    background: linear-gradient(-45deg,#ee7252,#e73c7e,#23a6d5,#23d5ab) no-repeat;
    background-size: 400% 400%;
    animation-fill-mode: forwards;
}

main .cards .CardButton a{
    text-decoration: none;
    color: White;
    font-weight: 600;
}
main .cards .CardButton img{
    position: absolute;
    left: 0;
    padding-left: 10px;
}

/* Aside -------------------------------------  */
aside{
    width:25%;
    background-color: white;
}

/*
aside .poke-ads{
    display: block;
    height: 250px;
    background-image: url(IMG/Mewto.jpg);
    background-size: cover;
    background-position: center center;
    position: relative;
 }
 
 aside .poke-ads::before{
     content: " ";
     width: 100%;
     height: 100%;
     background:#000;
     opacity: 0.6;
     position: absolute;
     top: 0;
     left: 0;
 } */

@keyframes BotaoCard{
   0%{
    background-position: 0% 50%;
   }
   50%{
    background-position: 100% 50%;
   }
   100%{
    background-position: 0% 50%;
   }

    /* background: linear-gradient(-45deg,#23a6d5,#ee7252,#e73c7e,#23d5ab) */
   
  
} 