@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    margin:0;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    width: 100%;
    text-decoration: none;
    
}
.grid{
    display:grid;
    background-color: #d0d0d0;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 70px 70px auto 200px;
    grid-template-areas:"header header header" "Nav Nav Nav" "... content ..." "footer footer footer";
}
.grid nav{
    grid-area: Nav;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.grid nav .NavItens{
    color: white;
    display: flex;
    gap:5px;
}
.grid nav .NavIMG{
    display: flex;
    align-items: center;

}
header{
    display: flex;
    background-color: orange;
    grid-area: header;
    justify-content: space-around;
}


aside{
    background-color: salmon;
    grid-area: sidenav;
}
footer{
    background-color: black;
    grid-area:footer
}
header .headerNav{
    gap: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .headerNav input{
    height: 30px;
    width: 300px;    
    outline:none;
}
h2{
    font-weight: normal;
}
h1{
    font-weight: 900;
}
.grid nav .NavIMG .imgTwitter{
    padding-left:10px;
}
.ImgPokemons{
    max-width: 2fr;
    max-height: 100px;
}
main{
    display: flex;
    background-color: aliceblue;
    grid-area: content;
}

main .PrincipalContent{
    display: flex;
    max-width: 70%;
    width: 70%;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}
main .PrincipalContent .Row{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
main .PrincipalContent .Row .Cards{
    align-items: center;
    display: flex;
    width: 190px;
    flex-direction: column;
    border: 2px solid #d0d0d0;
    padding: 15px;
    
}
main .PrincipalContent .Row .Cards a{
    padding: 10px 20px 10px 20px;
    outline:none;
    box-shadow: none;
    background-color: limegreen;
    text-decoration: none;
    border-radius: 10px;
    color: aliceblue;
}
main .PrincipalContent .Row .Cards .Precoreal{
    margin-top: 0;
    color: limegreen;
    font-weight: bold;

}
main .PrincipalContent .PageNumbers{
    display: flex;
    gap: 10px;
}
main .PrincipalContent .PageNumbers h2{
    border:  1px solid black;
    padding: 10px 15px 10px 15px;
}
.AsideMain{
    max-width: 30%;
    width: 30%;
    display: flex;
}
.AsideMain .ContainerAside .ContainerAsideIMG{
    display: flex;
    justify-content: center;
    align-items: center;
}
.AsideMain .ContainerAside .ContainerAsideIMG .LogoAside{
    display: flex;
    justify-content: center;
    align-items: center;
}
.AsideMain .ContainerAside .ContainerAsideIMG .LogoAside img{
    width: 80%;
}
.AsideMain .ContainerAside .TitleList h2{
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.AsideMain .ContainerAside .ListaPokemons .ItensLista{
    display: flex;
    border-bottom: 1px solid #d0d0d0;
    padding-bottom: 10px;
    padding-top:10px ;
    align-items: center;
    gap: 20px;
}
.AsideMain .ContainerAside .ContainerLista{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.AsideMain .ContainerAside .TitleList{
    width: 75%;
}
.AsideMain .ContainerAside .ListaPokemons{
    width: 75%;
    
}
