header{
    width: 100%;
    display: flex;
    background-color: orange;
    
    .main-header{
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap:wrap;
        padding: 5px;
    }
    .headeritens{
        display: flex;
        text-transform: uppercase;
        align-items: center;
        gap: 20px;
        
        i{
            cursor: pointer;
        }
        .inputgroup{
            background-color: #fff;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            i{
                width: 25px;
                position: absolute;
                right: 0;
                cursor: pointer;
            }
            input{
                outline: none;
                height: 100%;
            }
        }
    }

}